<footer class="bg-umygreen text-white pt-8 pb-4 border-t-4 border-yellow-400 mt-16">
    <div class="container mx-auto px-6">

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-sm">

            <div class="flex flex-col items-start">
                <img src="/images/footerlogo.png" class="h-48 object-contain -mt-4 mb-2">
            </div>

            <div>
                <h3 class="font-bold text-lg mb-3 text-yellow-400">Sekretariat</h3>
                <table class="w-full text-gray-100">
                    <tr><td class="w-20">Alamat</td><td>: Jl. Brawijaya, Bantul 55183</td></tr>
                    <tr><td>Email</td><td>: lost&found@umy.ac.id</td></tr>
                    <tr><td>Telp.</td><td>: 0274.387656 psw 140/141</td></tr>
                    <tr><td>Faks</td><td>: 0274.387646</td></tr>
                    <tr><td>NPP</td><td>: 3402162D2000002</td></tr>
                </table>
            </div>

            <div>
                <h3 class="font-bold text-lg mb-3 text-yellow-400">Jam Layanan</h3>
                <table class="text-gray-100">
                    <tr><td class="w-28">Senin - Jum'at</td><td>: 08.00 - 21.00 WIB</td></tr>
                    <tr><td>Sabtu</td><td>: 09.00 - 13.00 WIB</td></tr>
                </table>
            </div>

        </div>

        <div class="border-t border-green-700 mt-6 pt-4 text-center text-xs text-gray-300">
            &copy; 2025 Lost & Found Universitas Muhammadiyah Yogyakarta
        </div>
    </div>
</footer>

</body>
</html>